<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org/" lang="en">
<!-- Main Sidebar Container -->
<aside th:fragment="aside" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/}" class="brand-link">
        <img th:src="@{/img/logo.png}" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Eggs' Shopping</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/img/usuario.png}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a sec:authentication="name" class="d-block"></a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a th:href="@{/admin/huevos}" class="nav-link">
                        <i class="fas fa-egg"></i>
                        <p>Huevos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/stocks}" class="nav-link">
                        <i class="fas fa-boxes"></i>
                        <p>Stock</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/ventas}" class="nav-link">
                        <i class="fas fa-cash-register"></i>
                        <p>Ventas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/cartones}" class="nav-link">
                        <i class="fas fa-box"></i>
                        <p>Cartones</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

</html>