<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org/" lang="en">

<head th:replace="/clie/layouts/head :: head"></head>

<body id="page-top">
    <nav th:replace="/clie/layouts/nav :: nav"></nav>
    <header th:replace="/clie/layouts/masthead :: masthead"></header>
    <section th:replace="/clie/layouts/about :: about"></section>
    <section th:replace="/clie/layouts/services :: services"></section>
    <div th:replace="/clie/layouts/products :: products"></div>
    <section th:replace="/clie/layouts/contact :: contact"></section>
    <section th:replace="/clie/layouts/footer :: footer"></section>
</body>

</html>