<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

</html>

<div th:fragment="modal">
    <div class="modal fade" id="modal-delete-stock" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="modal-delete-stockLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete-stockLabel">Eliminar Stock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form-delete-stock" action="" method="POST">
                    <div class="modal-body">
                        <p>¿Esta segurp que desea eliminar el Stock?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Eliminar Stock</button>
                        <input type="hidden" name="_method" value="DELETE">
                </form>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>


</html>