<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org/" lang="en">
<!-- About-->
<section th:fragment="about" class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Nosotros tenemos lo que necesias!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Eggs Shopping tiene todo lo que necesita para obtener Productosde la
                    mas alta
                    calidad desde la comodidad de tu hogar! Elija uno de nuestros productos, proceda con su pago y
                    disfrute
                    de su producto en tiempo y forma. Sin complicaciones!</p>
                <a class="btn btn-light btn-xl" href="#services">Nuestros Servicios</a>
            </div>
        </div>
    </div>
</section>

</html>