<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org/" lang="en">
<!-- Services-->
<section th:fragment="services" class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">A tu servicio</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Productos de calidad</h3>
                    <p class="text-muted mb-0">Nuestros productos cumple con todas normas de calidad ofreciendo el
                        mejor producto posible!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">E-Commerce</h3>
                    <p class="text-muted mb-0">Todos nuestro productos son ofrecidos en nuestro servicio de pago en
                        linea.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Multiples sucursales</h3>
                    <p class="text-muted mb-0">Tu puedes obtener nuestros productso desde tu sucursal mas sercana o
                        por servicio en linea!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Productos hechos con amor</h3>
                    <p class="text-muted mb-0">¿Es realmente un buen producto si no esta hecho con amor?</p>
                </div>
            </div>
        </div>
    </div>
</section>

</html>